@import url("https://fonts.googleapis.com/css2?family=Dokdo&display=swap");

:root {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
}

.background-container {
  position: relative;
}

.background {
  height: 100%;
}

.logo-container {
  position: absolute;
  top: 20%;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00000099;
}

.logo {
  height: 100%;
}

.logo-text {
  font-family: "Dokdo", cursive;
  font-size: 120px;
  color: white;
}

.background-container > p {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  color: #bbb;
}

.background-container > p a {
  color: #bbb;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #eee;
}

.content > * {
  padding: 0 128px 0 32px;
}

form {
  background: white;
  box-shadow: 0 3px 3px #00000044;
}

input {
  display: block;
  width: 300px;
  height: 30px;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
}

.flex-horizontal {
  display: flex;
  gap: 32px;
  margin-bottom: 32px;
}

label {
  font-size: 0.8rem;
  font-weight: bold;
  color: #555;
}

.content button {
  align-self: start;
  margin-left: 32px;
  margin-top: 32px;
  padding: 12px 32px;
  background: #596d48;
  border: 0;
  border-radius: 8px;
  color: white;
  font-size: 1rem;
}

.login {
  margin-top: 32px;
  color: #444;
  font-weight: bold;
}

.login a {
  color: #596d48;
  text-decoration: none;
}
